body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
 

                           

                            
.banner-container{
    display: flex;
    background-color: #2D25A0;
    padding: 50px;
    
}

.watch-btn{
    background-color: #E02C6D;
    padding: 10px 30px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    height: 50px;
    width: 160px;
    transition: ease width 2s;
}
.watch-btn:hover{
    width: 205px;
}
.watch-link{
    color: #F2F0F0;
    text-decoration: none;
}

.text-container, .image-container {
    width: 50%;
    
    
}
.text-mid{
    width: 50%;
}
.image-container img{
    width: 80%;
    padding-right: 80px;
    
}
.text-container{
    color: #FFFFFF;
    padding-left: 170px;
    padding-bottom: 40px;
    font-size: 30px;
    margin: 10px;
    font-weight: 900;
}
.image-container{
    display: flex;
    justify-content: center;
}

.top-tier{
    background-color: #F2F0F0;
    padding: 25px 15%;
}
.heading{
    font-size: 30px;
    font-weight: 900;
}
.player-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.player-intro{
    background-color: #FFFFFF;
    padding: 20px;
}
.player-intro img{
    width: 100%;
}
.color-text{
    color: #6C6C6C;
}
.bolder-name{
    font-size: 25px;
}

.gallery img{
    width: 100%;
    border: 2px;
    
    
}


.player-image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
   
    
}
 .footer-content img{
    width: 250px; 
    padding-right: 15px; 
    padding-top: 30%;
 }
 .footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 }
.fab {
    font-size: 20px;
    color: #969BAB;
    padding-left: 20px;
 }
 .f-a-icon{
    padding-left: 45px;
 }
 
 @media (max-width: 1000px) {
    .player-info{
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text-container{
        width: 80%;
    }
    .image-container{
        width: 100%;
    }
    .image-container img{
        width: 90%;
    }
    .text-mid{
        width: 100%;
    }
    .player-image{
        grid-template-columns: repeat(2, 1fr);
    }
 }
 @media (max-width: 320px) {
    .player-info{
        grid-template-columns: repeat(1, 1fr);
    }
    .player-image{
        grid-template-columns: repeat(1, 1fr);
        
    }
 }
